import request-tracker

if __name__ == "__main__":
    config = load_config('rt.cfg')
    rtconf = config['rt']
    rt_user = rtconf['rt_user']
    rt_password = rtconf['rt_password']
    rt_queue = rtconf['rt_queue']
    mail = config['mail']
    email = mail['email']
    mailhost = mail['mail_host']
    rqt = RT(RT_URL, rt_user, rt_password)
    rqt.login()
    
    print(rqt.get_status(34716))
    rqt.add_comment(34716,'testi comment') 
    print(rqt.last_updated_by_field(rt_queue, 'new', 'Owner', 'nobody', 1))
